*.class

# Package Files #
*.jar
*.war
*.ear
/CarRental-client/build/
/CarRental-client/dist/
/CarRental-lib/build/
/CarRental-lib/dist/
/CarRental/build/
/CarRental/dist/
/CarRental-ejb/dist/
/CarRental-ejb/build/